@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
/* *{
    border: 1px solid black;
} */

html{
    font-family: 'Montserrat';
}

body{
    display: flex;
    flex-direction: column;
}


.nav_items{
    display: flex;
    justify-content: flex-end;
}

.nav_items li{
    display: inline-block;
    padding: 10px;
    list-style: none;
}

.nav_items li a:hover{
    color: rgb(0,155,214);
    /* color: rgba(4,9,30,0.7),; */
}

.nav_items li a{
    text-decoration: none;
    color: black;
}

.best_books{
    display: flex;
    flex-direction: column;
    /* background-color: 	rgb(0,155,214); */
    background-color: rgba(4,9,30,0.7);
    margin:0px 20px 20px 20px;
    border-radius: 20px;
    min-height: 550px;
    min-width: 900px;
}

.best_books h2{
    color: white;  
    /* color: black;   */
    text-align: center;  
}

.book_container{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-content: space-evenly; */
    gap: 2em;
}

.book_items p{
    text-align: center;
    color: white;
    /* color: black;   */
}

.book_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_obj img{
    width: 200px;
    height: 340px;
    object-fit: contain;
}

.book_container .book_items:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.book_description{
    width: 60%;
    height: 460px;
    background-color: white;
    display: flex;
    margin: 0px 30% 0% 30%;
    margin-top: -450px;
    max-width: 600px;
    min-width: 590px;
}

.book_description .description_img{
    margin: 10px;
    margin-top: 50px;
    object-fit: contain;
    /* width: 200px; */
}

.description_img img{
    width: 210px;
    height: 340px;
    object-fit: contain;
}

.book_description i{
    display: inline-block;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px 10px;
    height: 20px;
    font-size: 20px;
}
.content{
    padding: 10px;
}

.add_to_cart{
    background-color: rgb(0,155,214);
    color: white;
    border: none;
    width: 100px;
    height: 20px;
    margin-top: 10px;
}
