@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
/* *{
    border: 1px solid black;
} */

html{
    font-family: 'Montserrat';
}

body{
    min-width: 1200px;
}


.nav_items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_items i{
    font-size: 30px;
    cursor: pointer;
}

.nav_items div{
    margin-right: 30px;
    align-items: center;
    position: relative;
}

.nav_items span{
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 2px 6px;
    

}

.nav_items li{
    display: inline-block;
    padding: 10px;
    list-style: none;
}

.nav_items li a:hover{
    color: rgb(0,155,214);
    /* color: rgba(4,9,30,0.7),; */
}

.nav_items li a{
    text-decoration: none;
    color: black;
}

.best_books{
    display: flex;
    flex-direction: column;
    /* background-color: 	rgb(0,155,214); */
    background-color: rgba(4,9,30,0.7);
    margin:0px 20px 20px 20px;
    border-radius: 20px;
    min-height: 550px;
    min-width: 1000px;
}

/* new addition */
/* .best_books{
    justify-content: space-evenly;
    align-items: center;
} */

.best_books h2{
    color: white;  
    /* color: black;   */
    text-align: center;  
}

.book_container{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* min-width: 960px; */
    gap: 4em;
}

.book_items p{
    text-align: center;
    color: white;
    /* color: black;   */
}

.book_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_obj img{
    width: 200px;
    height: 340px;
    object-fit: contain;
}

.book_container .book_items:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.description_container{
    border: 1px solid black;
}
.book_description{
    width: 60%;
    height: 460px;
    background-color: white;
    margin: 0px 30% 0% 30%;
    margin-top: -450px;
    display: flex;
    max-width: 600px;
    min-width: 590px;
}

.book_description .description_img{
    margin: 10px;
    margin-top: 50px;
    object-fit: contain;
    /* width: 200px; */
}

.description_img img{
    width: 210px;
    height: 340px;
    object-fit: contain;
}

.book_description i{
    display: inline-block;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px 10px;
    height: 20px;
    font-size: 20px;
}
.content{
    padding: 10px;
}

.add_to_cart{
    background-color: rgb(0,155,214);
    color: white;
    border: none;
    width: 100px;
    height: 20px;
    margin: 0px 30px 0px 30px ;
    /* border: ; */
    border: 1px solid rgb(0,155,214);
    border-radius: 50px;
    transition: background-colour 0.15s, border-color 0.15s, color 0.15s;
}

.add_to_cart:active{
    background-color: white;
    color: rgb(0,155,214);
}

.quantity_block{
    font-size: 20px;
    margin: 0px;
    height: 25px;
    display: flex;
    align-items: center;
}

.quantity_block p{
    margin: 0px 20px 0px 20px;
}

.card{
    /* position: fixed; */
    top: 0;
    left: calc(100% - 500px);
    width: 500px;
    /* background-color: rgba(4,9,30,0.7); */
    /* height: 90%; */
    /* display: flex; */
}
footer{
    /* display:flex;
    flex-direction: column; */
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    color: white;
}
